.feedback {
	background-color: var(--global-dark);
	padding: 30px 0;

	.feedbackBody {
		max-width: 400px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin: 0 auto;

		input {
			color: var(--global-light);
			padding: 5px 15px;
			background-color: transparent;
			border: none;
			outline: none;
			border-bottom: 1px solid var(--global-lime);
		}

		textarea {
			outline: none;
			background-color: transparent;
			color: var(--global-light);
			padding: 15px;
			border: 1px solid var(--global-lime);
			resize: none;
		}

		button {
			cursor: pointer;
			padding: 10px;
			background-color: transparent;
			color: var(--global-light);
			border: 1px dotted var(--global-lime);
			transition: all .5s ease-in-out;

			&:hover {
				border-style: solid;
				background-color: var(--global-lime);
				color: var(--global-dark);
			}
		}
	}
}
