.reviews {
	background-color: var(--global-dark);
	
	.reviewsBody {
		color: var(--global-silver);

		.reviewList {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 60px;
			margin: 60px 0;

			.reviewItem {
				background-color: var(--global-light);
				max-width: 300px;
				padding: 15px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				h4 {
					margin: 5px 0 0;
				}
			}
		}
	}
}