.header {
	background-color: var(--global-dark);
	border-bottom: 1px solid var(--global-light);

	.wrapper {
		padding: 0 15px;
	}

	.headerBody {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 0;
	}
}

@media screen and (min-width: 1024px) {
	.header {
		.wrapper {
			padding: 0 30px;
		}
	}
}
